:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#app {
  margin: 0;
  padding: 0 !important;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  color: black
}
.container{
  margin: 0;
  padding: 0;
}

:root {
  --md-sys-color-primary: #3DAE2F;
  --md-sys-color-on-primary: #FFFFFF;
}

